.box {
  display: flex;
}

.list {
  background: #67ce5e;
  padding: 20px;
}

.profile {
  background: #ca8638;
  padding: 20px;
}

.rightside {
  background: #3a6083;
  padding: 20px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  width: 150px;
}

.active {
  background: #5f9757;
  color: white;
  font-weight: 600;
}
